footer
  .container.text-center
    p.float-left © 2020 PH3AR, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='http://code.github.com') GitHub Project
      li.list-inline-item
        a(href='https://www.ph3ar.com') PH3AR
