extends layout

block content
  h1 PH3AR Virtual LAN
  p.
  hr
  .row
    .col-md-6
      h2 Servers & Stuff
      p all servers are Vavle and hosted at <br> 3.224.143.11 <br> <br> Counter Strike - Global Offensive <br> Wreckfest <br> Don’t Starve Together <br> left for dead 1 & 2 <br> and more coming
      p
 
       a.btn.btn-raised(href='http://3.233.211.103/signup', role='button') View details »

    .col-md-6
      h2 Stream
  
      a(href='http://discord.ph3ar.com') PH3AR Discord
      <br>
      a(href='https://twitch.tv/friendsofph3ar') PH3AR Twitch Channel 
      <br>     
      a(href='http://35.227.107.137') PH3AR Twitch Merger! 
      <br>
      a(href='https://meet.jit.si/PH3AR') Video Conference!
      <br>

      p
     
       a.btn.btn-raised(href='http://discord.ph3ar.com', role='button') Hang Out! »
    .col-md-6
    
      h2 Resources
       
        a(href='http://code.ph3ar.com') PH3AR Github 
        <br>
        a(href='http://3.233.211.103:81/') PH3AR Terminal
      p
        a.btn.btn-raised(href='http://code.ph3ar.com', role='button') Build Shit »
    .col-md-6
      h2 Support
      p

       a(href='http://patreon.ph3ar.com') PH3AR Patreon
       <br>
       a(href='http://venmo.ph3ar.com') PH3AR Venmo
       <br>
       a(href='http://donate.ph3ar.com') PH3AR Paypal
      p
        a.btn.btn-raised(href='http://patreon.ph3ar.com', role='button') Support Us »
